<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | About</title>
</head>
<body>

    <ul>
        <li>
            <a href="/index.html">Home</a>
        </li>
         <li>
            <a href="/about.html">About</a>
        </li>
         <li>
            <a href="/contacts.html">Contats</a>
        </li>
         <li>
            <a href="/cats.thml">Cats</a>
        </li>
    </ul>
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium culpa maxime numquam aperiam quis dolorum minus, maiores repudiandae quos cupiditate voluptatibus, quisquam provident, inventore veniam voluptatem ad veritatis explicabo atque!
        Tempore, iure atque veniam debitis nam asperiores mollitia optio, quidem veritatis voluptatibus ea cum vitae neque? Eos inventore veniam ut excepturi suscipit eum ipsam qui et itaque sint. Molestias, quaerat.
        Dignissimos, aliquam quaerat. Minima qui itaque fugit nostrum doloribus ab nihil possimus. Laboriosam tenetur facere illo animi deserunt, adipisci dolor eligendi, sapiente rerum dolorum repellat non, ex cum veniam possimus?</p>
    
</body>
</html>