<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <h1>Welcome to my page</h1>
    <ul>
        <li>
            <a href="./index.html">Home</a>
        </li>
         <li>
            <a href="/about.html">About</a>
        </li>
         <li>
            <a href="/contacts.html">Contats</a>
        </li>
         <li>
            <a href="/cats.thml">Cats</a>
        </li>
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti reprehenderit deleniti aperiam. Voluptatibus odio at saepe. Sed, enim sit officiis, tempora voluptas illo sunt corrupti quam rem accusantium cum hic.
    Magnam quibusdam id sequi. Doloribus, magnam est, nostrum officiis similique sint vitae accusamus fuga odit recusandae voluptates alias, quos ab rem nihil consequatur? Blanditiis animi dicta in. Molestiae, ex saepe.
    Delectus autem asperiores doloribus maiores dolor, id eaque, totam sunt quasi ut, quisquam temporibus natus? Natus cumque deleniti neque necessitatibus in molestiae vitae quam, et autem at, iure explicabo sed.
    Dolorum eos possimus exercitationem sunt debitis? Dolore est iure perspiciatis quia officia quaerat soluta sunt itaque. Eaque, voluptatem nesciunt. Consectetur explicabo error obcaecati nam voluptatum dicta fuga saepe? Facilis, quia?
    Ea enim praesentium atque aspernatur, facilis vero molestias necessitatibus esse obcaecati. Sit, nam, quisquam ea non pariatur delectus inventore similique veniam dicta animi, obcaecati libero quis molestiae numquam harum eveniet.</p>
    
</body>
</html>